<%- include('header.ejs')%>
  <div class="container hero-list">
    <form id='form' >
      <!-- 加个隐藏域 name键名=value值 , 提交表单 会拼接get参值对 -->
      <input type="hidden" name="id" class='id' value='0'>
      <div class="form-group">
        <label class="col-sm-2 control-label">英雄名称</label>
        <div class="col-sm-10">
          <input type="text" name="name" class="form-control name" value="李白">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">性别</label>
        <div class="col-sm-10">
          <label class="radio-inline">
            <input type="radio" value="男" name="gender" class='man' > 男
          </label>
          <label class="radio-inline">
            <input type="radio" value="女" name="gender" class='woman' > 女
          </label>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">英雄年龄</label>
        <div class="col-sm-10">
          <input type="text" name="age" class="form-control age" value="20">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">英雄地址</label>
        <div class="col-sm-10">
          <input type="text" name="address" class="form-control address" value="广州">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">英雄手机</label>
        <div class="col-sm-10">
          <input type="text" name="phone1" class="form-control phone1" value="1388888">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">英雄头像</label>
        <div class="col-sm-10">
          <img id='photo' style="width:100px;height:100px;background-color:pink">图1</img>
          <img id='photo2' style="width:100px;height:100px;background-color:pink">图2</img>
          <input id='fileupl' type="file" name="photo" class="form-control" value="上传头像"  />
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">时间</label>
        <!-- <input type="text" disabled='disabled' style='border: 0px;' class="col-sm-10 ctime" value="2017-12-12 12:12:12"></input> -->
        <div class="col-sm-10 time">
          2017-12-12 12:12:12
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-success btn-edt">保存修改</button>
        </div>
      </div>
    </form>
  </div>
<%- include('footer.ejs')%>
<script>
  $(function(){
    // let id = location.search.split('=')[1];  //search: "?id=14"
    // console.log(id);
    $.ajax({
      type:'get',
      url:'/getOneHeroInfo',
      data:{id:location.search.split('=')[1]},
      success:function(res){
        // console.log('打印啦',res.data[0]);
        if(res.code==200){
          for(var key in res.data[0]){
            console.log(key,res.data[0][key])
            $('input.'+key).val(res.data[0][key]);   //直接给元素赋值 $('input.键类名').val(值)
          }
          $('div.time').text(res.data[0].ctime);
            res.data[0]['gender']=='女'? $('input.woman').prop('checked',true):$('input.man').prop('checked',true) ;
          $('#photo').prop('src',res.data[0].photo);
          $('#photo2').prop('src',res.data[0].photo2);
        }
      }
    })

    $('.btn-edt').on('click',function(e) {
        e.preventDefault();
        $.ajax({
          type: 'post',
          url: '/updateHeroInfo',
          data: $('#form').serialize(),
          success: function(res) {
            // console.log(res);
            if(res.code == 200) {
              window.location.href = '/'
            }
          }
        })
      })
    
    $('#fileupl').on('change',function(e){
      // e.preventDefault();
      // console.log($('#fileupl')[0].files);          //上传多个文件,伪数组
      console.log(location.search.split('=')[1]);
      let dataupl= new FormData();
      let len=$('#fileupl')[0].files.length;
      for(let i=0;i<len;i++){
        dataupl.append(`photo${i}`,$('#fileupl')[0].files[i]);
        console.log('追加2进制文件:',$('#fileupl')[0].files[i])
      }
      dataupl.append('id2',location.search.split('=')[1]);
      dataupl.append('zj','追加到2进制数据');
      $.post({
        url:'/upload',
        data:dataupl,
        contentType: false,
        processData: false,
        success:function(res){
          if(res.code==200){
            console.log(res);
            $('#photo').prop('src',res.data.files.photo0.path);
          }
        }
      })
    })
  })
</script>